<ion-header>
  <ion-toolbar color="primary">
    <ion-title>InfoHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="success" (click)="getRandomFact()">Get Random Fact</ion-button>
  <p *ngIf="fact">Fact: {{ fact }}</p>

  <ion-button expand="block" color="tertiary" (click)="getDeviceInfo()">Device Info</ion-button>
  <p *ngIf="deviceInfo">{{ deviceInfo }}</p>

  <ion-button expand="block" color="medium" routerLink="/about">About App</ion-button>
</ion-content>
